.App {
 
  /* text-align: center; */
  margin: 3% 8%;
  vertical-align: middle;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.description {
  font-size: 15.8px;
  font-style: Lato-MediumItalic;
  text-align: left;
  color: #000000de;
  top: 193px;
  left: 140px;
  height: 32px;
  margin-top: 12px;
}

.title {
  font-size: 45px;
  top: 111px;
  left: 140px;
  height: 74px;
  text-align: left;
  letter-spacing: 0;
  color: #000000de;
  opacity: 1;
}
.search-box {
  margin-top: 56px;
    top: 258px;
    left: 142px;
    width: 560px;
    height: 35px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #939292;
    border-radius: 4px;
    opacity: 1;
}

.search-input {
 padding-left: 10px;
    height: 30px;
    width: 520px;
    border: 0;
}

.search-icon {
  border: 0;
  color: "black";
  height: 32px;
  width: 20px;
}

.containter-body {
  min-height: 400px;
}
button:focus {
  outline: 0;
}
input:focus {
  outline: 0;
}